.lightbox {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;

  background-color: rgba(0, 0, 0, 0.8);

  @media screen and (min-width: 768px) {
    // overflow-y: hidden;
  }
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__container {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  max-height: 100vh;
  padding: 40px 20px;
  padding-top: 48px;
  background-color: #fff;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 618px;
    max-height: 100vh;
    padding-top: 42px;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 618px;
    padding-top: 50px;
    overflow-y: hidden;
  }
}

.lightbox__content {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;

  background-color: white;

  @media screen and (min-width: 768px) {
    line-height: 1.67;
  }

  @media screen and (min-width: 1024px) {
    // width: 882px;
  }
}

.info {
  display: flex;
}

.info-list {
  color: #8c8c8c;
  //   margin-right: 40px;

  //   @media screen and (min-width: 1024px) {
  //     margin-right: 84px;
  //   }
}

.info-data {
  margin-left: 40px;

  @media screen and (min-width: 1024px) {
    margin-left: 84px;
  }
}

.rating-mark {
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 2px 14px;

  &__votes {
    background-color: #f7f7f7;
  }
}

.lightbox.is-open .lightbox__conteiner {
  transform: scale(1);
}

.poster {
  margin-right: 30px;
  outline: red solid 1px;
  //   background-color: #fff;

  @media screen and (min-width: 1024px) {
    min-width: 396px;
  }
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;

  @media screen and (min-width: 1024px) {
    // height: 100vh;
    // width: 478px;
  }
}

.lightbox__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}

.about {
  max-width: 262px;

  @media screen and (min-width: 1024px) {
    max-width: 396px;
  }
}

.lightbox__buttons {
  display: flex;
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  top: 2px;
  right: 2px;
  width: 48px;
  height: 48px;
  color: black;
  background-color: var(--primary-background-color);

  &:hover,
  &:focus {
    // color: var(--accent-color);
    cursor: pointer;
  }

  &__cross {
    display: flex;
    width: 30px;
    height: 30px;
    fill: currentColor;
    // fill: black;
    color: black;
  }
}
