html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// body {
//   color: $main-text-color;
//   background-color: $main-bgc-color;

//   font-family: "Roboto", sans-serif;

//   margin: 0;
// }

img {
  display: block;
  max-width: 100%;
  height: auto;
}
