// * {
//   outline: 1px solid red;
// }

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 48px 20px 0 20px;

  margin: 0px auto;
  min-height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 48px 76px 0 76px;
    max-width: 768px;
  }

  @media screen and (min-width: 1024px) {
    padding: 48px 71px 0 71px;
    max-width: 1024px;
  }
}

.header__bg-home {
  background-image: url(../images/gradient.png), url(../images/bg-header-mob.png);
  // min-width: 320px;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/gradient.png), url(../images/bg-header-mob@2x.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url(../images/gradient.png), url(../images/bg-header-tab.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/gradient.png), url(../images/bg-header-tab@2x.png);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: url(../images/gradient.png), url(../images/bg-header-dt.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/gradient.png), url(../images/bg-header-dt@2x.png);
    }
  }
}

.header__bg-ml {
  background-image: url(../images/gradient.png), url(../images/bg-header-ml-mob.png);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/gradient.png), url(../images/bg-header-ml-mob@2x.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url(../images/gradient.png), url(../images/bg-header-ml-tab.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/gradient.png), url(../images/bg-header-ml-tab@2x.png);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: url(../images/gradient.png), url(../images/bg-header-ml-dt.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/gradient.png), url(../images/bg-header-ml-dt@2x.png);
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.btn {
  display: inline;
  background: transparent;
  color: #fff;
  padding: 0;
  border: none;
}

.logo-text {
  display: none;
  // font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 0.89;
  color: #fff;

  @media screen and (min-width: 767px) {
    display: inline;
  }
}

.btn-home {
  position: relative;
  // font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.btn-myLibrary {
  position: relative;
  margin-left: 40px;
  // font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  cursor: pointer;
}

.current-page::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ff6b08;
}

.form {
  position: relative;
  margin: 0px auto;
}

.form__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 280px;
  color: #fff;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.btn-submit {
  position: absolute;
  left: 265px;

  @media screen and (min-width: 768px) {
    left: 320px;
  }
}

.nav-library {
  margin: 0 auto;
}

.watched {
  margin-right: 15px;
}
