<footer class="footer">

    <div class="copyrightsCntr">
        <p class="copyrightsText"><span class="mobileCntr">© 2021 | All Rights Reserved |</span>Developed with
            <svg class="icon-like" width="14px" height="13px">
                <use href="./images/like-icon.svg#like-icon"></use>
            </svg>
            <a class="footer__btn" data-action="open-teambox">by <span class="GoIT-link">GoIT Students</span></a>
        </p>
    </div>
</footer>

<!-- <a class="footer__btn" data-teamModalBtn>by <span class="GoIT-link">GoIT Students</span></a> -->