<header class="header-general">

  <nav class="navigation">

    <button class="btn btn-logo" type="button">
      <svg width="24" height="24">
        <use href="./images/film.svg#film"></use>
      </svg>
      <span class="logo-text">Filmoteca</span>
    </button>

    <div>
      <button class=" btn btn-home" type="button">HOME</button>
      <button class=" btn btn-myLibrary" type="button">MY LIBRARY</button>
    </div>

  </nav>

  <form class="form">
    <input class="form-input" type="text" placeholder="Поиск фильмов">
    <button class=" btn btn-submit" type="submit">
      <svg width="12" height="12">
        <use href="./images/search.svg#search"></use>
      </svg>
    </button>
  </form>

</header>