<header class="header header-js header__bg-home ">

  <nav class="navigation">

    <a href="./index.html" class="">
      <svg width="24" height="24">
        <use href="./images/film.svg#film"></use>
      </svg>
      <span class="logo-text">Filmoteca</span>
    </a>

    <div>
      <button class=" btn btn-home current-page btn-home-js" type="button">HOME</button>
      <button class=" btn btn-myLibrary btn-myLibrary-js " type="button">MY LIBRARY</button>
    </div>

  </nav>

  <form class="form form-js">
    <input class="form__input" type="text" name="query" placeholder="Поиск фильмов">
    <button class=" btn btn-submit  btn-submit-js" type="submit">
      <svg width="12" height="12">
        <use href="./images/search.svg#search"></use>
      </svg>
    </button>
  </form>

  <div class="nav-library nav-library-js visually-hidden">
    <button class="watched" type="button">WATCHED</button>
    <button class="" type="button">QUEUE</button>
  </div>

</header>