<div class="lightbox js-lightbox lightbox__overlay">
  <div class="lightbox__container ">
  <!-- <div>
    <button class="close" data-modal-close>
      <img
        src="./images/close.svg"
        alt="{{alt}}"
        class="close__cross"
        data-action="close-lightbox"
      />
    </button>
  </div> -->
  <!-- <div class="lightbox__buttons">
    <button class="button__modal button js-watched" data-id="{{id}}">ADD TO WATCHED</button>
  
    <button class="button__modal button js-queue" data-id="{{id}}">ADD TO QUEUE</button>
  </div> -->
  </div>
</div>
