<main class="main-scn container">
    <ul class="card__list">
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
        <li class="card__list-item">
            <div class="card__poster"></div>
            <p class="card__name">Название фильма</p>
            <p class="card__text">
                <span>Боевик</span> |
                <span>2021</span>
                <span class="card__vote_average">5.0</span>
            </p>
        </li>
    </ul>
    <!-- <include src="./partials/cardExample.html"></include> -->
</main>

