<div class="footer__btn js-teamModalBtn">
  <h2 class="section-heading">Our Team</h2>
  <div class="container">
    <div class="profile">
      <img src="images/Anton.jpeg" alt="" /><span class="name">Kalyan</span>
    </div>
    <div class="profile">
      <img
        src="https://images.unsplash.com/photo-1485206412256-701ccc5b93ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80"
        alt=""
      /><span class="name">Major Sameer</span>
    </div>

    <div class="profile">
      <img src="images/Aleksandr.jpeg" alt="" /><span class="name">Sajid Ghani</span>
    </div>
    <div class="profile">
      <img src="images/Pasha.jpeg" alt="" /><span class="name">Dhriti</span>
    </div>
    <div class="profile">
      <img src="images/Tania.jpeg" alt="" /><span class="name">Milind</span>
    </div>
    <div class="profile">
      <img src="images/Dmitriff.jpeg" alt="" /><span class="name">Srikant Tiwari</span>
    </div>
  </div>
</div>
