<div class="modal-backdrop js-team is-hidden">
  <div class="modal-container">
    <button type="button" class="close" data-team-modal-close>
      <svg class="icon-close" width="30" height="30">
        <use href="./images/cross-icon.svg#cross-icon" width="18" height="18"></use>
      </svg>
    </button>
    <h2 class="section-heading">Our Team</h2>
    <ul class="team-container">
      <li class="profile">
        <a href="https://github.com/Anton-Sakharov-hub"><img src="images/Anton.jpeg" alt="" /><span
            class="name">Anton</span></a>
      </li>
      <li class="profile">
        <a href="https://github.com/MykytaPervushyn"><img src="images/Nikita.jpeg" alt="" /><span
            class="name">Mykyta</span></a>
      </li>
      <li class="profile">
        <a href="https://github.com/OEirikh"><img src="images/Aleksandr.jpeg" alt="" /><span
            class="name">Aleksandr</span></a>
      </li>
      <li class="profile">
        <a href="https://github.com/pr0xnov"><img src="images/Pasha.jpeg" alt="" /><span class="name">Pasha</span></a>
      </li>

      <li class="profile">
        <a href="https://github.com/Te270"><img src="images/Tania.jpeg" alt="" /><span class="name">Tania</span></a>
      </li>
      <li class="profile">
        <a href="https://github.com/Dmitriff"><img src="images/Dmitriy.jpeg" alt="" /><span
            class="name">Dmitriy</span></a>
      </li>
    </ul>
  </div>
</div>
