<!-- <div class="modal-team">
  <div class="section team">
    <h2 class="section__caption">Наша команда</h2>
    <ul class="team-list">
      <li class="team-list__item">
        <img src="/src/images/Anton.jpeg" alt="Anton Sakharov" width="270" />
        <div class="box">
          <h3 class="team__names">Anton Sakharov</h3>
          <p class="profi"></p>
        </div>
      </li>
      <li class="team-list__item">
        <img src="./" alt="Mykyta Pervushyn" width="270" />
        <div class="box">
          <h3 class="team__names">Mykyta Pervushyn</h3>
          <p class="profi"></p>
        </div>
      </li>
      <li class="team-list__item">
        <img src="/src/images/Aleksandr.jpeg" alt="Oleksandr Eirikh" width="270" />
        <div class="box">
          <h3 class="team__names">Oleksandr Eirikh</h3>
          <p class="profi"></p>
        </div>
      </li>
      <li class="team-list__item">
        <img src="/src/images/Pasha.jpeg" alt="Pasha" width="270" />
        <div class="box">
          <h3 class="team__names">Pasha</h3>
          <p class="profi"></p>
        </div>
      </li>
      <li class="team-list__item">
        <img src="/src/images/Tania.jpeg" alt="Tetiana Mykhailychenko" width="270" />
        <div class="box">
          <h3 class="team__names">Tetiana Mykhailychenko</h3>
          <p class="profi"></p>
        </div>
      </li>
      <li class="team-list__item">
        <img src="/src/images/Dmitriff.jpeg" alt="Дмитрий Прядко" width="270" />
        <div class="box">
          <h3 class="team__names">Дмитрий Прядко</h3>
          <p class="profi"></p>
        </div>
      </li>
    </ul>
  </div>
</div> -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap"
  rel="stylesheet"
/>

<section class="team">
  <h2 class="section-heading">Our Team</h2>
  <div class="container">
    <div class="profile">
      <img src="images/Anton.jpeg" alt="" /><span class="name">Kalyan</span>
    </div>
    <div class="profile">
      <img
        src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
        alt=""
      /><span class="name">Suchitra Tiwari</span>
    </div>

    <div class="profile">
      <img src="images/Aleksandr.jpeg" alt="" /><span class="name">Sajid Ghani</span>
    </div>
    <div class="profile">
      <img src="images/Pasha.jpeg" alt="" /><span class="name">Dhriti</span>
    </div>
    <div class="profile">
      <img src="images/Tania.jpeg" alt="" /><span class="name">Milind</span>
    </div>
    <div class="profile">
      <img src="images/Dmitriff.jpeg" alt="" /><span class="name">Srikant Tiwari</span>
    </div>
    <div class="profile">
      <img
        src="https://images.unsplash.com/photo-1485206412256-701ccc5b93ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80"
        alt=""
      /><span class="name">Major Sameer</span>
    </div>
  </div>
</section>
